.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border-radius: 0;
  }

.btn {
    border-radius: 0;
    background-color: black;
}
