<style>
    .header {
        text-align: center;
        background-color: #000000;
        color: #ffffff;
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 36px;
        letter-spacing: 2px;
    }

    body {
        background-color: #000000;
    }

    #playlist-player {
        width: 80%;
        height: 80%;
        border: none;
        display: block;
        margin: 0 auto;
    }
</style>

<div class="header">
    Grab your popcorn, and enjoy a stream of *mostly* uninterrupted trailers!
</div>
<iframe id="playlist-player" src="" allowfullscreen></iframe>
<button id="change-trailer">Change Trailer</button>
<div style="color:aqua; margin: 0 auto">
    *To implement: either pull movie titles from videos and then from OMDB database in order to implement "Add" or
    figure out YT API and pull everything from there*
</div>

<script>
    // Parse the 'flix_data' JSON string to an array of objects
    const flixData = JSON.parse('{{{flix_data}}}');  // Use triple braces to insert the 'flix_data' JSON string

    // Function to change the trailer being displayed
    function changeTrailer() {
        // Randomly select a video from 'flixData'
        const randomVideo = flixData[Math.floor(Math.random() * flixData.length)];

        // Set the 'src' attribute of the iframe to the selected video's YouTube link
        const iframe = document.getElementById('playlist-player');
        iframe.src = randomVideo.youtube_link;
    }

    // Change the trailer when the page loads
    changeTrailer();

    // Add an event listener to the "Change Trailer" button
    document.getElementById('change-trailer').addEventListener('click', changeTrailer);
</script>


