<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <style>
    body {
      background-color: #222;
      font-family: Arial, sans-serif;
      margin: 0;
    }

    h1 {
      color: white;
      text-align: center;
      font-size: 50px;
      padding-top: 40px;
      padding-bottom: 40px;
      font-weight: normal;
      margin-bottom: 0;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    .scroll-tray {
      white-space: nowrap;
    }

    .scroll-tray div {
      display: inline-block;
    }

    .scroll-tray img {
      border-radius: 0.3rem;
      margin: 7px 5px;
      padding: 0;
      width: 340px;
    }

    .scroll-holder {
      overflow-x: hidden;
    }

    .scroll-holder .scroll-tray:first-child {
      animation: scroll-tray-hero 180s linear infinite;
    }

    .scroll-holder .scroll-tray:last-child {
      animation: scroll-tray-hero 120s linear infinite;
    }

    @keyframes scroll-tray-hero {
      0% {
        transform: translateX(0);
      }

      99.99% {
        transform: translateX(-7098px);
      }

      100% {
        transform: translateX(0);
      }
    }
  </style>
</head>

<body>
  <section>
    <h1>Welcome to Movie Master! Explore, Rate, and Discover the Magic of Movies.</h1>
  </section>
  <section>
    <div class="scroll-holder">
      <div class="scroll-tray">
        <div>
          {{#each result}}
          <a href="/movieDetails?id={{this.movie_id}}">
          
          <img src="{{this.image_path}}" alt="Gallery Image" />
          </a>
          {{/each}}
        </div>

      </div>
      <div class="scroll-tray">

      </div>
    </div>
  </section>
</body>

</html>